IMAP_HOST=mail.erajaya.com
IMAP_PORT=993
IMAP_USER=ghesang@erajaya.com
IMAP_PASS=MusaGondul071115_

SUPABASE_URL=https://xxxxxx.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
