# Supabase
SUPABASE_URL=https://ichvkuxkxsxboybqayle.supabase.co
SUPABASE_SERVICE_KEY=PASTE_SERVICE_ROLE_KEY_DISINI

# Email IMAP
EMAIL_HOST=mail.erajaya.com
EMAIL_PORT=993
EMAIL_USER=Ghesang.L@erajaya.com
EMAIL_PASS=PASSWORD_EMAIL_ANDA
EMAIL_FROM=melati.fitriyani@erajaya.com
